@import './styles/variables.scss';
.mainNav {
  top: 0;
  position: sticky;
  width: 100%;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 0.5px solid $secondaryGrayColor;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  .innerWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }

  .logo {
    color: $primaryColor;
    padding: 5px;
    font-size: 18px;

    &:hover {
      border-radius: 5px;
      box-shadow: 2px 4px 16px $secondaryGrayColor;
      transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
    }
  }

  .githubLogo {
    padding: 5px;
    &:hover {
      border-radius: 5px;
      box-shadow: 2px 4px 16px $secondaryGrayColor;
      transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
    }
  }
}
