@import '@/app/styles/variables.scss';

.postCard {
  border: 1px solid $primaryGrayColor;
  border-radius: 10px;
  padding: 24px 20px;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 4px 16px $secondaryGrayColor;
    transform: scale(1.01, 1.01);
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  }
}
