@import '@/app/styles/variables.scss';
.postCard {
  padding: 16px;
  &:hover {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 4px 16px $secondaryGrayColor;
    transform: scale(1.01, 1.01);
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  }
}
